*{
	margin:0;
	padding:0
}

button{
	font-family:"Times New Roman",Georgia,Serif;
	border:1px solid #ada6a6;
	width:100%;
	height:100%;
	border-radius:9px;
	font-size:20px;
	font-weight: 600;
	text-align:center;
	vertical-align:middle;
	background-color: rgb(225, 233, 233);
}

#mainscreen{
	width:320px;
	height:568px;
	margin: 0 auto;
	position:relative;
	overflow: hidden;
}

#js_addscore{
	left:0;
	width:100%;
	top:240px;
	text-align:center;
	font-weight: 600;
}

.funbg{
	width:320px;
	height:568px;
	position:absolute;
	background-image: url(../img/开始背景.png)
}

.firstbutton{
	font-family:"Times New Roman",Georgia,Serif;
	border:1px solid #ada6a6;
	top:360px;
	right:88px;
	width:141px;
	height:43px;
	position: absolute;
	background-color: darkgrey;
	border-radius:9px;
	letter-spacing: 4px;
}


.bg{
	width:320px;
	height:568px;
	position:absolute;
	background-image: url(../img/background_1.png);
}

#bg2{
	top:-568px;
}

#airplane{
	width:66px;
	height:80px;
	background-image: url(../img/我的飞机.gif);
	position:absolute;
	left:130px;
	top:400px;
}

#goaheadbutton{
	top:450px;
}

.bullent{
	width:6px;
	height:14px;
	background-image: url(../img/bullet1.png);
	background-size: 6px,14px;
	position:absolute;
}

.enemy{
	position:absolute;
	width:46px;
	height:60px;
	background-image:url(../img/enemy3_fly_1.png);
	z-index: 100;
}

.bossplane{
	position: absolute;
	width:110px;
	height: 164px;
	background-image: url(../img/enemy2_fly_1.png);
	z-index:50;
	
}

.trash{
	position: absolute;
	width:34px;
	height:24px;
	background-image: url(../img/enemy1_fly_1.png);
	z-index:150;
}

.trashboom{
	position:absolute;
	width:34px;
	height:24px;
	background-image: url(../img/小飞机爆炸.gif);
}

.boom{
	position:absolute;
	width:46px;
	height:60px;
	background-image:url(../img/中飞机爆炸.gif);

}

.bossboom{
	position: absolute;
	width:110px;
	height: 164px;
	background-image: url(../img/大飞机爆炸.gif);
	z-index:50;
}


.content-text{
	position:absolute;
	z-index:9999;
	left:50px;
	top:10px;
	font-family:"Times New Roman",Georgia,Serif;
	font-size:28px;
}

#score{
	left:150px;
}
